@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}
body{
display: flex;
}

.login{
   
    width: 30%;

}
.login h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.login figure {
    height:30vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login figure img{
    width: 11vw;    
}

.login img{
    width:5vw ;
}

form{

    display: flex;
    flex-direction: column;
    height: 25vh;
    align-items: center; 
    justify-content: space-evenly;
    border-radius: 2px;
}
form input{
 background-color:#e8e6e6;
    height: 3vw;
    border: none;
    width: 70%;
} 

input::placeholder{
  position: relative;
  bottom:25%;
  left:5%; 
  text-transform: capitalize;
}
.redes-sociais {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
   
}
.redes-sociais img{
    width: 25px;
}
.redes-sociais div{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
    background-color: aqua;
}
.redes-sociais .facebook{
    background-color: #2051FF;
    border-radius: 5px;
}
.redes-sociais .google{
    background-color:
    #8A0000 ;
    border-radius: 5px;
}
.redes-sociais .apple{
    background-color: 
    #000000;
    border-radius: 5px;
}
.type {
    position: relative;
   top: 2vh;
   left: 2vw;

}
.acesso button{
    position: relative;
    left: 17vh;
    top:3vw;
    width: 47px;
    height: 49px;
    cursor: pointer;
    /* border-radius: 13px;
    border: none;
     */

}
.log{
transform: scale(130%);
background-color:#FF002E ;
transition: ease-in-out 0.5s;
}
.acesso img{
    width: 45px;
    border-radius:10px ;
}
.acesso p{
    text-align: center;
    position: relative;
    top: 9vh;
    
}
.facebook:hover{
 padding: 2px 2px;
 transition: ease-in-out 0.3s;
}
.google:hover{
    padding: 2px 2px;
    transition: ease-in-out 0.3s;
   }
.apple:hover{
    padding: 2px 2px;
    transition: ease-in-out 0.3s;
   }
.jogo img{
    width: 80vw;
}
@media (max-width: 2560px){
    .acesso button{
        position: relative;
        left: 9vw;
    }
}
@media (max-width:1440px){
    .redes-sociais img{
        width: 2.5vh;
    }
}
@media (max-width:1024px){
    .login figure{
        position: relative;
        bottom: 7vh;
    }
    form h1{
        position: relative;
        bottom: 21vh;
    }
    form input{
        position: relative;
      bottom: 23vh;
      display: flex;
  flex-wrap: wrap;

      /* height: 15%;
      display: flex;
   height: 4vh; */
    }
    form input .type .password{
        position: relative;
        bottom: 4vw;

    }
}